<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="users">Utilisateurs</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="reservations">Reservations</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="equipments">Equipements</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="rooms">Salles</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="unavailibilities">Indisponibilités</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="pricings">Tarifications</a>
            </li>
        </ul>
    </div>
</nav>