.reddot {
    height: 10px;
    width: 10px;
    background-color: #FF0000;
    border-radius: 50%;
    display: inline-block;
    max-width: 10px;
  }

.greendot {
    height: 10px;
    width: 10px;
    background-color: #3BDE86;
    border-radius: 50%;
    display: inline-block;
    max-width: 10px;
  }

  .tac{
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
  }